.header {
	margin-bottom: 120px;
	position: relative;
	height: 100vh;
}

.header_top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 0;
}

.header_logo p {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	align-self: center;
}

.header h1 {
	text-align: center;
	font-size: 54px;
	line-height: 60px;
	font-weight: 400;
	max-width: 970px;
	width: 100%;
	position: absolute;
	left: 50%;
	top: 50%
	padding: 0 15px;
	padding-top: 25%;
	box-sizing: border-box;
	transform: translate(-50%, -50%);
}

.header h1 span {
	font-weight: 700;
}

.navbar {
	background: #333333;
	display: inline-flex;
	align-items: center;
	justify-content: center;
    padding: 10px 0px;
    text-align: center;
    position: absolute;
    width: 100%;
	position: fixed;
	top: 0;
	z-index: 1;
}

.navbar li {
	list-style-type: none;
	display: inline-block;
	padding: 10px 40px;
	text-align: center;
	border-left: 1px solid white;
	color: white;
	font-size: 18px;
}

.navbar-elem>li {
	display: inline-block;
	margin-right: 35px;
}

.navbar-elem>li>a {
	color: #fff;
	font-size: 22px;
}

.navbar-elem>li:hover>a {
	color: green;
}

.navbar-submenu {
	position: absolute;
	padding: 0;
	padding-top: 15px;
	list-style: none;
	transition: .5s 0s;
}

.navbar-submenu>li {
	opacity: 0;
	transition: left 0s .5s, opacity .5s 0s;
	/*left: -500px;*/
	padding: 5px 5px 5px 5px;
}

.navbar-elem>li:hover .navbar-submenu {
	background-color: #333333;
}

.navbar-elem>li:hover .navbar-submenu>li {
	transition: left 0s 0s,opacity .5s 0s;
	opacity: 1;
	left: 0;
}

.navbar-submenu>li>a {
	color: white;
	font-size: 22px;
}

.navbar-submenu>li:hover>a {
	color: green;
}

#dark_mode_button {
	display: none;
}

@media (max-width: 980px) {
	.header {
		margin-bottom: 60px;
	}
}

@media (max-width: 770px) {
	.header h1 {
		font-size: 34px;
		line-height: 40px;
	}
}

@media (max-height: 480px) {
	.header_wrap {
		height: auto;
	}

	.header h1 {
		position: static;
		left: auto;
		top: auto;
		transform: translate(0, 0);
		padding-top: 24px;
		padding-bottom: 150px;
	}
}
