@import url('header.css');
@import url('about.css');
@import url('price.css');
@import url('contact.css');
@import url('logan.css');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	background: url('../img/background_dark.png') center no-repeat;
	background-size: cover;
	/*font-family: "Comic Sans MS", cursive, sans-serif;*/
	font-family: 'Dancing Script', cursive;
	font-size: 16px;
	color: #fff;
}

.container {
	max-width: 100%;
	min-width: 320px;
}

.wrap {
	max-width: 1170px;
	padding: 15px 15px;
	margin: 15px auto;
}

.content_wrap {
	background-color: rgb(144, 144, 144, .5);
	margin: 120px auto;
	display: flex;
	align-items: center;
	border-radius: 10px;
}

.content_title {
	font-size: 42px;
	line-height: 48px;
	margin: 25px 10px;
	margin-top: 0;
	margin-bottom: 35px;
	opacity: 1;
}

.button a {
	text-decoration: none;
	font-size: 22px;
	line-height: 30px;
	font-weight: 700;
	background-color: #07b569;
	display: inline-block;
	padding: 8px 31px;
	margin: auto;
	border-radius: 8px;
	cursor: pointer;
}

.button a:hover {
	background-color: #019c58;
}

.form_error_message {
	color: red
}

@media (max-width: 980px) {
	.content_wrap {
		margin: 60px auto;
	}
}

@media (max-width: 770px) {
	.content_wrap {
		flex-direction: column;
	}
}

